@font-face {
	font-family: 'Calculator';
	src: url('../fonts/Calculator.eot');
	src: local('☺'), url('../fonts/Calculator.woff') format('woff'), url('../fonts/Calculator.ttf') format('truetype'), url('../fonts/Calculator.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Galaktika';				  
	src: local('☺'), url('../fonts/Galaktika.woff') format('woff'), url('../fonts/Galaktika.ttf') format('truetype'), url('../fonts/Galaktika.svg') format('svg');				  
	font-weight: normal;
	font-style: normal;
}	

@font-face {
	font-family: 'sw';				  
	src: local('☺'), url('../fonts/sw.svg') format('svg');				  
	font-weight: normal;
	font-style: normal;
}	

body{
  font-family: 'Galaktika';	
  font-weight: bold;
  background: #224E66FF;  
  box-shadow: inset 1px 1px 25px 5px rgba(0,0,0,0.6);
  user-select: none;
}

h1{ 
  text-align: center;
  padding: 3vh;
  font-size: 2.5em;
  color: #aaa;
	text-shadow:  2px 2px 0px rgba(0,0,0,0.3);  
}

form{  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option_dey{
/*   display: block; 
  margin: 2vh;
  padding: 2vh; */ 
}

 input::placeholder {
  font-family: 'Galaktika';	
   text-shadow: none;
} 

.inputs{  
   background: #224E66FF;
  color: #aaa;
  margin: 1vh;
  padding: 2vh;
  cursor: pointer;
  width: 90vw;
  font-family: 'Calculator';
  font-size: 9vw;  
  letter-spacing: 0.5vw;
  border-radius: 5px;	  
}
select{
  margin: 1vh;
  padding: 2vh;
  font-size: 1.5em;
  font-family: 'verdana';	
  cursor: pointer;
  background: #224E66FF;  
   width: 90vw;
   color: #aaa;  
  border-radius: 3px;
  box-shadow: inset 0px 0px 15px 2px rgba(0,0,0,0.1);	 
}
option{
  display: block;  
}

#id0, #id1{	
	font-family: 'Calculator';	
	font-size: 9vw;
	color: #aba;
	text-shadow: 0 0 18px #0fa;  
}
#id2{
  color: #ba9;
  text-shadow: 0 0 18px #9a0; 
}
#id3{  
    padding: 2vh 3vh;
  margin-top: 4vh;
  font-family: 'Galaktika';
  width: 5em;  
  box-shadow: inset 0px 0px 15px 2px rgba(0,0,0,0.05);	 
  border-radius: 9px;
  font-size: 2em;
}
#massage{
  color: #aaa;
  padding: 1vh;
  margin: 1vh;
  text-align: center;
  letter-spacing: 3px;  
}

@media screen and (orientation: landscape) {
  
  .inputs, select{  
  width: 60vw; 
    max-width: 500px;
    
}
  
  #id0, #id1, #id2, #id3{
    font-size: 6vh;    
  }
  
}





